* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('./img/img.jpg');
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    margin-top: -13rem;
}

.countdown-container {
    display: flex;
    margin-top: 35px;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-element {
    text-align: center;
}

.countdown-element span {
    font-size: 1.5rem;
    font-weight: bold;
}